<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        <form method="post">
            {% csrf_token %}
            {% include 'utils/alerts.html' %}
            <h2>Sign in</h2>
            <div class="inputBox">
                <input type="text" name="email" id = "email" required>
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required>
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Forgot Password</a>
                <a href="{% url 'register' %}">Signup</a>
            </div>
            <div class="button-grp">
                <input type="submit" id="submit" value="Login">
                <input type="button" id="LogInWithOtp" onclick="sendOtp()" value="Login With OTP"
                style="border: none; outline: none; padding: 9px 25px; cursor: pointer; font-size: 0.9em; border-radius: 4px; font-weight: 600; width: 200px; margin-top: 10px; background-color: #45f3ff; transition: background-color 0.3s;">
            </div>
            

        </form>
    </div>
    <script>
        function sendOtp() {
            let email = document.getElementById("email").value;
            if (email == "") {
                alert("Email cannot be blank!!!");
                window.location.href = `/login`;
                return; // stop further execution
            }
    
            // Redirect only if email is not blank
            window.location.href = `/send-otp/${email}/`;
        }
    </script>
</body>
</html>