<!-- {% if messages %}
{% for message in messages %}
<div class="alert alert-{% if message.tags %} {{ message.tags }}{% else %}success{% endif %}" role="alert">
    {{message}}
  </div>
    
    {% endfor %}
{% endif %} -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/alerts.css' %}">
{% if messages %}
  <div class="custom-message-container">
    {% for message in messages %}
      <div class="custom-alert {{ message.tags|default:'info' }}">
        <span class="icon">
          {% if message.tags == 'success' %}
            ✅
          {% elif message.tags == 'error' or message.tags == 'danger' %}
            ❌
          {% elif message.tags == 'warning' %}
            ⚠️
          {% elif message.tags == 'info' %}
            ℹ️
          {% else %}
            💬
          {% endif %}
        </span>
        <span class="text">{{ message }}</span>
      </div>
    {% endfor %}
  </div>
{% endif %}


<!-- bootstrap alerts -->
