{% extends 'utils/base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <div class="container mt-4 pt-5 pb-5 ">
        <div class="row">
            <div class = "col-md-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="https://static.prod.r53.tablethotels.com/media/hotels/slideshow_images_staged/large/1334054.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Blue Lagoon</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      <span class="badge bg-primary">Swimming Pool</span>
                      <span class="badge bg-primary">Food</span>
                      <span class="badge bg-primary">AC</span>
                    </div>
                </div>
            </div>

            <div class = "col-md-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="https://static.prod.r53.tablethotels.com/media/hotels/slideshow_images_staged/large/1334054.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Blue Lagoon</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      <span class="badge bg-primary">Swimming Pool</span>
                      <span class="badge bg-primary">Food</span>
                      <span class="badge bg-primary">AC</span>
                    </div>
                </div>
            </div>

            <div class = "col-md-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="https://static.prod.r53.tablethotels.com/media/hotels/slideshow_images_staged/large/1334054.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Blue Lagoon</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      <span class="badge bg-primary">Swimming Pool</span>
                      <span class="badge bg-primary">Food</span>
                      <span class="badge bg-primary">AC</span>
                    </div>
                </div>
            </div>

            <div class = "col-md-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="https://static.prod.r53.tablethotels.com/media/hotels/slideshow_images_staged/large/1334054.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Blue Lagoon</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      <span class="badge bg-primary">Swimming Pool</span>
                      <span class="badge bg-primary">Food</span>
                      <span class="badge bg-primary">AC</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}